<nz-header>
  <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
  <div class="rightnav">
    <div class="rightmenu">
      <ul nz-menu [nzMode]="'horizontal'">
        <li nz-submenu style="min-width: 60px;">
          <span title>
            <nz-avatar nzIcon="user"></nz-avatar>
            {{user}}
            <i nz-icon type="caret-down" theme="outline"></i>
          </span>
          <ul>
            <li nz-menu-item [routerLink]="['/login']" (click)="onLoggedout()">Sign out</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #contentTemplate>
    <div>
      <ul>
        <li nz-menu-item [routerLink]="['/login']" (click)="onLoggedout()">Sign out</li>
      </ul>
    </div>
  </ng-template>
</nz-header>
